.crypto-list{

  // ion-item {
  //   --min-height: 65px;
  // }

  ion-thumbnail {
    height: 40px;
    width: 40px;
  }

  .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    .left-data {
      display: flex;
      gap: 10px;

      h2 {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}